table {
  border-collapse: collapse;
  max-width: 58rem;
  margin: .3rem auto;
}

td {
  padding: .6rem .5rem;
}

.border-left {
  border-left: 2px solid var(--cl-desc);
}

.border-bottom {
  border-bottom: 2px solid var(--cl-desc);
}
.border-top {
  border-top: 2px solid var(--cl-desc);
}
.border-right {
  border-right: 2px solid var(--cl-desc);
}

.benefitsDiv {
  max-width: var(--mx-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.benefitsDiv h1 {
  font: var(--title-ssl);
  color: var(--cl-lightblue);
}

.benefitsDiv > p {
  font: var(--tx-sl);
  color: var(--cl-desc);
  margin-bottom: .5rem;
}

.divImgs {
  display: flex;
  gap: 1rem;
  width: 48rem;
  margin: .2rem auto;
  overflow: hidden;
}

@media (width < 80em) {
  .divImgs {
    display: none;
  }
}

.benefitsDiv img {
  width: 8rem;
  border-radius: .5rem;
  animation: rolling 13s linear infinite;
}

.benefitsDiv h2 {
  font: var(--tx-md);
  text-align: center;
  color: var(--cl-lightblue);
  margin-bottom: .8rem;
}

.benefitsDiv td p {
  text-align: center;
  font: var(--bnt-cancel-s);
  color: var(--cl-black);
}

@media (width < 60em) {
    .benefitsDiv h2 {
    font: var(--tx-ss);
  }

  .benefitsDiv td p {
    font: var(--bnt-cancel-ss);
  }
}

@keyframes rolling {
  to {
    transform: translateX(-54rem);
  }
}